:root {
	--aubergine: #240825;
	--aubergine-10: #24082510;
	--beetroot: #FC37B8;
	--beetroot-20: #FC37B820;
	--beetroot-10: #FC37B810;
	--nectarine: #F1BFA4;
	--chia: #9c9c9c;
	--salt: #FFFFFF;
}

body {
	font-family: 'Argent CF';
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	background-color: var(--aubergine);
	color: var(--nectarine);
}

header {
	width: 100%;
	height: 185px;
	display: flex;
	border-bottom: 1px solid var(--beetroot-20);
}

.deselected {
	transition: background-color ease-in 0.2s;
}

.deselected:hover {
	background-color: var(--beetroot-10);
}

.selected {
	background-color: var(--beetroot-20);
}

.logo img {
	width: 92px;
}

.logo {
	padding: 35px 24px 37px 24px;
	flex-grow: 0;
}

header nav {
	display: flex;
	flex-grow: 1;
}

em {
	font-style: italic;
} 

header nav a, h2, .project-column h3 {
	color: var(--beetroot);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 14px;
}

header nav a {
	border-left: 1px solid var(--beetroot-20);
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.intro, .projects, .projects-wrapper {
	position: relative;
	border-bottom: 1px solid var(--beetroot-20);
}

.intro .vertical-heading, .projects .vertical-heading, .projects-wrapper .vertical-heading {
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: left top;
	padding: 54px 60px 0 0;
}

h1, .projects h2 {
	color: var(--beetroot);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 0.1em;
}

.blurb {
	padding: 60px 220px 60px 48px;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.2;
	min-height: 484px;
}

.blurb, .project-description, .project {
	margin-left:140px;
	border-left: 1px solid var(--beetroot-20);
}

.blurb p {
	margin-bottom: 0.6em;
	max-width: 860px;
}

.common {
	padding: 52px;
	border-bottom: 1px solid var(--beetroot-20);
}

.half-container {
	display: flex;
}

.half {
	flex: 1;
}

.half h2 {
	margin-bottom: 90px;
}

.relevant-qualifications h3 {
	font-size: 32px;
	line-height: 1.2;
	color: var(--salt);
	margin-bottom: 10px;
}

.text-link {
	text-decoration: none;
	border-bottom: 1px solid var(--nectarine);
	font-style: italic;
	padding-bottom: 1px;
	color: var(--salt);
}

.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4, .project-title h3, .learning h2 {
	color: var(--nectarine);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
}

.relevant-qualifications p {
	margin-top: 30px;
}

.relevant-qualifications .date {
	font-style: italic;
	line-height: 1.4;
	color: var(--salt);
	margin-top: 50px;
}

.self-study h3 {
	color: var(--salt);
	margin-bottom: 10px;
}

.self-study {
	border-left: 1px solid var(--beetroot-20);
}

.taglist li {
	display: inline-block;
	border: 1px solid var(--nectarine);
	border-radius: 100px;
	padding: 8px 10px 7px 10px;
	margin-right: 4px;
	margin-bottom: 8px;
}

.taglist {
	margin-bottom: 30px;
}

.primary-list {
	margin-top: 150px;
	margin-bottom: 10px;
}

.primary-list, .project-title h2 {
	font-weight: 100;
	font-family: 'Argent CF';
	text-transform: none;
	font-style: italic;
	font-size: 80px;
	color: var(--salt);
	line-height: 1.2em;
}

.primary-list li {
	display: inline;
}

.primary-list li:after {
	content: "/";
	margin-left: 0.2em;
	color: var(--beetroot-20);
}

.primary-list li:last-child:after {
	content: "";
}

.learning {
	border-top: 1px solid var(--beetroot-10);
	padding-top: 30px;
	
}

.learning h2 {
	display: inline;
	padding-right: 1.5em;
	margin-right: 1.5em;
	border-right: 1px solid var(--beetroot-20);
}

.learning p {
	color: var(--salt);
	display: inline-block;
	transform: translateY(0.1em);
}


.hiring-reasons {
	margin-top: 55px;
}

.hiring-reasons li {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 300;
	padding: 36px 0 36px 50px;
	border-top: 1px solid var(--beetroot-10);
	counter-increment: item;
}

.hiring-reasons li:before {
	content: counter(item, decimal-leading-zero);
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
	color: var(--beetroot);
	width: 0;
	text-align: right;
	display: inline-block;
	transform: translateX(-40px) translateY(-0.6em);
}

.hiring-reasons em {
	color: var(--salt);
}

.projects .project-description {
	padding: 52px 52px 60px 48px;
	min-height: 400px;
}

.projects .project-description p {
	font-weight: 100;
	font-size: 48px;
	line-height: 1.1;
	color: var(--salt);
	font-style: italic;
}

.projects .project-description p em {
	color: var(--nectarine);
	display: inline-block;
}

.inline-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

.isolation {
	background-image: url("../images/projecticon-isolation@2x.png");
	transform: translateY(0.1em);
}

.owl {
	background-image: url("../images/projecticon-owldash@2x.png");
	transform: translateY(0.16em) translateX(0.05em);
}

.gym {
	background-image: url("../images/projecticon-gymbuddy@2x.png");
	transform: translateY(0.16em) translateX(0.09em);
}

.projects .project-description .cta-container {
	display: flex;
	align-items: center;
	margin-top: 48px;
}

.projects .project-description .cta-container .cta {
	border-top: 1px solid var(--beetroot-20);
	border-right: 1px solid var(--beetroot-20);
	border-bottom: 1px solid var(--beetroot-20);
	padding-left: 48px;
	transform: translateX(-48px);
}

.cta p {
	display: flex;
	align-items: center;
}

.projects .project-description .cta-container p {
	font-size: 32px;
}

.projects .project-description .cta-container a {
	text-decoration: none; 
}

.cta-arrow {
	display: inline-block;
	border-left: 1px solid var(--beetroot-20);
	width: 140px;
	height: 140px;
	margin-left: 48px;
	background-image: url(../images/cta-arrow@2x.png);
	background-size: 62px 36px;
	background-repeat: no-repeat;
	background-position: center	center;
}

.projects .project-description .cta-container .conjunction {
	font-family:'Criteria CF';
	font-weight: 800;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.15em;
	color: var(--nectarine);
}

.projects .project-description .cta-container .text-link {
	margin-left: 48px;
}

.employment-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 60px;
}

.employment-container h3 {
	color: var(--salt);
	line-height: 1.1em;
}

.current-employment-container h3 {
	font-size: 32px;
	margin-top: 16px;
	margin-bottom: 32px;
}

.heading-group {
	display: flex;
	flex-direction: column-reverse;
}

.bullets li {
	line-height: 1.2;
	margin-bottom: 16px;
}

.bullets li:before {
	content: "—";
	color: var(--beetroot);
	transform: translateX(-30px);
	text-align: right;
	display: inline-block;
	width: 0;
}

.past-employment-container {
	padding-left: 52px;
}

.past-employment {
	border-top: 1px solid var(--beetroot-10);
	padding: 26px;
}

.past-employment:last-child {
	border-bottom: 1px solid var(--beetroot-10);
}

.past-employment h3 {
	margin-top: 2px;
}

.past-qualifications {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.past-qualifications .title-container {
	padding: 52px;
	border-bottom: 1px solid var(--beetroot-20);
}

.past-qualifications .qualifications-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	border-left: 1px solid var(--beetroot-20);
}

.qualification {
	text-align: center;
	width: 50%;
	padding: 70px 24px 80px 24px;
	border-bottom: 1px solid var(--beetroot-20);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.qualification h3 {
	font-size: 32px;
	line-height: 1.2;
	color: var(--salt);
	margin-bottom: 16px;
}

.qualification:nth-child(even) {
	border-left: 1px solid var(--beetroot-20);
}

.certificate {
	background-image: url(../images/icon-certificate@2x.png);
	background-size: 60px 73px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 73px;
	margin-bottom: 40px;
}

.quotes {
	padding: 52px;
	border-bottom: 1px solid var(--beetroot-10);
}

.quotes h2 {
	margin-bottom: 60px;
}

.quotes-container {
	display: grid;
	grid-template-areas: 
	'quote quote'
	'quote quote';
	grid-template-columns: 1fr 1fr;
}

.quote:nth-child(even) {
	margin-left: 32px;
}

.quote:nth-child(1), .quote:nth-child(2) {
	border-top: 1px solid var(--beetroot-10);
}


.quotes-container li {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 300;
	padding: 36px 0 36px 50px;
	border-bottom: 1px solid var(--beetroot-10);
}

.quotes-container li:before {
	content: "\201C";
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 48px;
	letter-spacing: 0.15em;
	color: var(--beetroot);
	width: 0;
	text-align: right;
	display: inline-block;
	transform: translateX(-40px) translateY(0.27em);
}

footer {
	height: 140px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

footer .external-links {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr ;
}

.icon-link-container, .references {
	border-left: 1px solid var(--beetroot-20);
}

.email-link-container, .icon-link-container, .references {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon-link-container img {
	width: 40px;
}

.references p {
	color: var(--beetroot);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
}

.print-statement {
	display: none;
}

.project {
	border-bottom: 1px solid var(--beetroot-20);
}

.project-details {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 31px 0;
	
}

.project-column {
	padding: 0 52px;
	
}

.project-column:nth-child(2) {
	border-left: 1px solid var(--beetroot-10);
	border-right: 1px solid var(--beetroot-10);
}

.project-column h3 {
	margin-bottom: 15px;
}

.project-column .taglist {
	margin-top: 40px;
}

.project-subtitle {
	transform: translateY(1em);
}

.project-subtitle h3 {
	display: inline;
}

.project-subtitle h3:nth-child(1):after {
	content: "/";
	font-size: 14px;
	font-weight: 100;
	margin-left: 0.2em; 
} 

.project-title {
	margin-left: 52px;
	margin-right: 52px;
	padding-top: 31px;
	padding-bottom: 90px;
	border-bottom: 1px solid var(--beetroot-20);
	text-decoration: none; 
}

.project-title .cta-arrow {
	height: 1em;
	border-left: none;
	transform: translateY(0.25em);
	margin: 0;
}	

@media (max-width:1024px) {
	.blurb {
		padding: 60px 48px 60px 48px;
	}

	.past-qualifications {
		grid-template-columns: 1fr;
	}
}

@media (max-width:960px) {
	header {
		height: 100px;
	}

	.logo img {
		width: 50px;
	}

	.logo {
		padding: 15px 45px;
	}

	.blurb {
		font-size: 26px;
		min-height: 380px;
	}

	h1, .projects h2 {
		font-size: 28px;
	}

	.intro .vertical-heading, .projects .vertical-heading, .projects-wrapper .vertical-heading {
		padding: 58px 60px 0 0;
	
	}

	.half h2 {
		margin-bottom: 40px;
	}

	.hiring-reasons {
		margin-top: 25px;
		
	}

	.hiring-reasons li {
		padding: 28px 0 28px 50px;
	}

	.primary-list {
		margin-top: 50px;
	}

	.primary-list, .project-title h2 {
		font-size: 60px;
	}

	.projects .project-description p {
		font-size: 36px;
	}

	.employment-container {
		grid-template-columns: 1fr 1fr;
	}

	.quotes h2 {
		margin-bottom: 40px;
	}

	.quotes-container li {
		font-size: 26px;
		padding: 0 0 20px 50px;
		line-height: 1;
	}

	.quotes-container li:before {
		transform: translateX(-40px) translateY(0.4em);
	}

	footer {
		height: 90px;
	}

	.projects .project-description .cta-container p {
		font-size: 24px;
	}

	.cta-arrow {
		width: 80px;
		height: 80px;
		margin-left: 48px;
		background-size: 31px 18px;
	}

	.projects .project-description .cta-container .text-link {
		margin-left: 26px;
		transform: translateX(-22px);
	}

	.projects .project-description .cta-container .conjunction {
		transform: translateX(-22px);
	}

	.icon-link-container img {
		width: 30px;
	}
	
	.project-title {
		border: none;
		padding-bottom: 0;
	}
	
	.project-details {
		display: block;
		line-height: 1.4;
		padding-top: 20px;
	}
	
	.project-details .taglist {
		margin-top: 10px;
		margin-bottom: 0;
	}
	
	.project-column {
		margin: 0 48px 0px 48px;
		border-top: 1px solid var(--beetroot-10);
		padding: 30px 30px;
	}
	
	.project-column:nth-child(2) {
		border-left: none;
		border-right: none;
	}
	
	.bullets li {
		margin-bottom: 10px;
	}
	
	.projects-wrapper .vertical-heading {
		position: static;
		transform: rotate(0deg) translateX(0%);
		padding: 40px 30px 0 52px;
		width: 100%;
		text-align: left;
	}
	
	.project {
		margin-left: 0;
		border-left: none;
	}

	footer .external-links {
		grid-template-columns: 3fr 1fr 1fr ;
	}
}

@media (max-width:800px) {
	.projects .project-description .cta-container {
		display: block;
		align-items: center;
		margin-top: 20px;
	}

	.projects .project-description .cta-container .cta {
		margin-bottom: 20px;
	}

	.projects .project-description .cta-container .text-link {
		transform: translateX(0px);
		display: inline;
	}

	.projects .project-description .cta-container .conjunction {
		transform: translateX(0px);
		margin-top: 30px;
		display: inline;
	}

	.cta {
		display: static;
		width: 301px;
	}
}

@media (max-width:700px) {
	.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4, .project-title h3, .learning h2 {
		font-size: 9px;
	}

	.taglist li {
		padding: 6px 8px 5px 8px;
		margin-right: 2px;
		margin-bottom: 6px;
	}

	.hiring-reasons li {
		font-size: 26px;
		line-height: 1.1;
		padding: 28px 0 28px 50px;
	}

	.primary-list, .project-title h2 {
		font-size: 48px;
	}

	.taglist {
		margin-bottom: 20px;
	}
	
	.learning {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.projects .project-description p {
		font-size: 28px;
		line-height: 1;
	}

	.projects .project-description {
		padding: 40px 52px 40px 48px;
		min-height: 300px;
	}

	.current-employment-container h3 {
		font-size: 26px;
		margin-top: 16px;
		margin-bottom: 24px;
	}

	body {
		font-size: 18px;
	}

	.past-employment {
		padding: 26px 0;
	}

	.common {
		padding-bottom: 20px;
	}

	.qualification h3 {
		font-size: 26px;
		line-height: 1;
		color: var(--salt);
		margin-bottom: 16px;
	}

	.quotes-container li {
		font-size: 20px;
		padding: 0 0 20px 50px;
		line-height: 1.1;
	}

	.quotes-container li:before {
		font-size: 32px;
		line-height: 1;
	}
}

@media (max-width:500px) {
	header nav a, h2, .project-column h3 {
		font-size: 12px;
	}

	header {
		height: 70px;
	}

	.logo img {
		width: 34px;
	}

	.logo {
		padding: 15px 15px;
	}

	.intro .vertical-heading, .projects .vertical-heading, .projects-wrapper .vertical-heading {
		position: static;
		transform: rotate(0deg) translateX(0%);
		padding: 40px 30px 20px 30px;
		width: 100%;
		text-align: left;
	}

	h1, .projects h2 {
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.1em;
	}

	.blurb, .project-description, .project {
		margin-left: 0;
		border-left: none;
		padding: 0 30px;
		font-size: 20px;
		min-height: 0;
	}

	.half-container {
		display: block;
	}

	.relevant-qualifications h3 {
		font-size: 26px;
		line-height: 1;
	}

	.common {
		padding: 30px;
	}

	.half h2 {
		margin-bottom: 30px;
	}

	body {
		font-size: 16px;
		line-height: 1.1;
	}

	.relevant-qualifications .date {
		margin-top: 20px;
	}
	
	.hiring-reasons li {
		font-size: 20px;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 32px;
	}	
	
	.hiring-reasons li:before {
		font-size: 10px;
		transform: translateX(-32px) translateY(-0.6em);
	}
	
	.primary-list {
		margin-top: 10px;
	}
	
	.primary-list li {
		font-size: 36px;
		line-height: 0;
	}
	
	.learning h2 {
		display: block;
		margin-bottom: 6px;
		border: none;
	}
	
	.learning p {
		transform: translateY(0);
	}
	
	.projects .project-description {
		padding: 0px 30px 40px 30px;
	}
	
	.projects .project-description .cta-container {
		margin-top: 30px;
	}
	
	.employment-container {
		display: block;
	}
	
	.bullets li:before {
		transform: translateX(-23px);
	}
	
	.past-employment-container {
		margin-top: 30px;
		padding: 0;
	}
	
	.past-qualifications .qualifications-container {
		border: none;
	}
	
	.qualification {
		width: 100%;
		padding: 40px 30px;
	}
	
	.qualification:nth-child(even) {
		border-left: none;
	}
	
	.quotes {
		padding:30px
	}
	
	.quotes-container {
		display: block;
	}
	
	.quotes-container li {
		padding: 10px 0 20px 50px;
	}
	
	.quote:nth-child(even) {
		margin-left: 0;
	}
	
	.quote:nth-child(2) {
		border-top: none;
	}
	
	.quote:last-child {
		border-bottom: none;
	}
	
	.projects-wrapper .projects-header {
		padding-bottom: 0px;
	}
	
	.project-title, .project-column {
		margin: 0;
	}
	
	.project-title h2{
		font-size: 36px;
	}
	
	.project-title .cta-arrow {
		width: 45px;
	}
	
	.project-subtitle {
		transform: translateY(0.4em);
	}
	
	footer {
		display: block;
	}
	
	footer .external-links {
		height: 80px;
	}
	
	footer .references p {
		padding: 20px 10px;
	}
	
	footer .references {
		border-top: 1px solid var(--beetroot-20);
		margin: 0;
	}
	
}
  


@media (min-width:1440px) {
	
	main {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
		border-left: 1px solid var(--beetroot-20);
		border-right: 1px solid var(--beetroot-20);
	}
	
}

@media print{  
  
	body{    
		background-color: var(--salt);
		color: var(--aubergine);
		font-size: 10pt;
		line-height: 1.3;
	}
	
	header {
		height: 3cm;
	}
	
	.logo img {
		width: 1cm;
	}
	
	.logo {
		padding: 0.9cm;
		flex-grow: 0;
	}
	
	h1, .projects h2 {
		font-size: 12pt;
	}
	
	header nav {
		display: none;
	}

	h2 {
		font-size: 6pt;
	}

	.half h2 {
		margin-bottom: 0.5cm;
	}

	.relevant-qualifications h3 {
		font-size: 16pt;
		font-weight: 300;
	}
	
	.intro .vertical-heading {
		left: 2.5cm;
		top: 1.3cm;
		transform: rotate(0deg) translateX(0);
		padding: 0;
	}

	.intro {
		position: static;
	}
	
	.blurb {
		padding: 1cm 1cm 0.8cm 1cm;
		margin-left: 0px;
		border-left: none;
		min-height: 0;
		font-size: 16pt;
	}

	.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4, .learning h2 {
		font-size: 5pt;
	}

	.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4, .projects .project-description .cta-container .conjunction, .projects .project-description p em, .learning h2 {
		color: var(--aubergine);
		opacity: 0.4;
	}

	.taglist li {
		padding: 2.5pt 4pt 1pt 4pt;
		margin-right: 0.01cm;
		margin-bottom: 0.08cm;
		border: 1px solid var(--aubergine-10);
	}

	.taglist {
		margin-bottom: 0.2cm;
	}

	.relevant-qualifications .date {
		margin-top: 0.5cm;
	}
	
	.relevant-qualifications h3, .text-link, .relevant-qualifications .date, .self-study h3, .primary-list, .hiring-reasons em, .projects .project-description p, .employment-container h3, .qualification h3, .learning p {
		color: var(--aubergine);
	}

	.common {
		padding: 1cm;
	}

	.hiring-reasons {
		margin-top: 0.5cm;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.hiring-reasons li {
		font-size: 10pt;
		padding: 0.5cm 0.5cm 0.5cm 0.7cm;
		width: 46%;
		margin-right: 2%
	}

	.hiring-reasons li:before {
		font-size: 5pt;
		transform: translateX(-0.7cm) translateY(-0.5em);

	}

	.why-hire-me, .employment-history {
		page-break-after: always;
		border-bottom: none;
	}

	.primary-list {
		margin-top: 0.5cm;
		font-size: 28pt
	}
	
	.learning {
		padding-top: 0.3cm;
	}

	.projects .vertical-heading {
		padding: 1cm 1.2cm 1cm 1cm;
	}

	.project-description {
		margin-left: 2.5cm;
	}

	.projects .project-description {
		padding: 1.2cm 0.6cm 1.3cm 0.6cm;
		min-height: 4.4cm;
	}	

	.projects .project-description p {
		font-size: 20pt;
		line-height: 1;
	}

	.projects .project-description .cta-container {
		margin-top: 0.6cm
	}	

	.projects .project-description .cta-container .cta {
		transform: translateX(-0.6cm);
		padding-left: 0.6cm;
	}

	.projects .project-description .cta-container p {
		font-size: 10pt;
		font-weight: 400;
	}

	.cta-arrow {
		width: 1cm;
		height: 1cm;
		background-size: 0.62cm 0.36cm;
		margin-left: 0.6cm
	}

	.projects .project-description .cta-container .conjunction {
		font-size: 5pt;
		font-style: normal;
	}

	.projects .project-description .cta-container .text-link {
		margin-left: 0.5cm;
	}

	.employment-history {
		padding-top: 1.8cm;
		padding-bottom: 1.8cm;
	}

	.employment-container {
		margin-top: 0.6cm;
	}

	.employment-container {
		grid-template-columns: 3fr 4fr;
	}

	.current-employment-container h3 {
		font-size: 16pt;
		margin-top: 0.3cm;
		margin-bottom: 0.2cm;
		line-height: 1.1;
		font-weight: 300;
	}

	.current-employment-container ul {
		margin-top: 0.3cm;
	}

	.current-employment-container li {
		margin-bottom: 0.2cm;
	}

	.past-employment {
		padding: 0.4cm;
	}

	.past-qualifications {
		border-bottom: 1px solid var(--beetroot-20);
		padding-bottom: 0.6cm
	}

	.past-qualifications .qualifications-container {
		border-left: none;
	}

	.past-qualifications .title-container {
		border-bottom: none;
		padding: 1cm;
	}

	.past-qualifications .qualification {
		border-bottom: none;
		border-left: none;
		padding: 0.8cm;
	}

	.qualification h3 {
		font-size: 10pt;
		margin-bottom:0.2cm;
	}

	.certificate {
		background-size: 1cm 1.22cm;
		height: 1.22cm;
		margin-bottom: 0.4cm;
	}

	.quotes {
		padding: 1cm;
	}

	.quotes h2 {
		margin-bottom: 0.6cm;
	}

	.quotes-container li {
		font-size: 10pt;
		line-height: 1;
		padding: 0.3cm 0.3cm 0.6cm 0.8cm;
		border-bottom: 1px solid var(--beetroot-10);
	}

	.quotes-container li:before {
		font-size: 20pt;
		transform: translateX(-0.8cm) translateY(0.27em);
	}

	.taglist li {
		border: 1px solid var(--chia);
		color: var(--chia);
	}

	.projects .project-description p em {
		color: var(--chia);
	}

	.cv-footer {
		display: none;
	}

	footer {
		border-bottom: 1px solid var(--beetroot-10);
		height: 90px;
	}

	.icon-link-container img {
		width: 30px;
	}

	.references p {
		font-size: 7pt;
	}

	.references .print-statement {
        color: var(--chia);
		padding-top: 5px;
    }

	.print-statement {
		display: block;
	}

	.projects-wrapper .vertical-heading {
		transform: rotate(0deg) translateX(0);
		padding-left: 54px;
		padding-top: 54px;
		position: static;
	}

	.project {
		margin-left: 0;
		border-left: none;
	}

	.project h2 {
		color: var(--chia);
		font-size: 36px;
	}

	.project-title  {
		padding-bottom: 30px;
	}

	.bullets li {
		font-size: 10pt;
	}

	.project-column h3 {
		font-size: 9pt;
	}


	* {-webkit-print-color-adjust:exact;}


}
