body {
	font-family: 'Argent CF';
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	background-color: #240825;
	color: #F1BFA4;
}

header {
	width: 100%;
	height: 185px;
	display: flex;
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);
}

.logo img {
	width: 92px;
}

.logo {
	padding: 35px 24px 37px 24px;
	flex-grow: 0;
}

header nav {
	display: flex;
	flex-grow: 1;
}

em {
	font-style: italic;
} 

header nav a, h2 {
	color: rgb(252, 55, 184);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 14px;
}

header nav a {
	border-left: 1px solid rgba(252, 55, 184, 0.2);
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}

.intro, .projects {
	position: relative;
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);
}

.intro .vertical-heading, .projects .vertical-heading {
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: left top;
	padding: 54px 60px 0 0;

}

h1, .projects h2 {
	color: rgb(252, 55, 184);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 400;
	font-size: 36px;
	line-height: 1;
	letter-spacing: 0.1em;
}

.blurb {
	padding: 60px 220px 60px 48px;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.2;
	min-height: 484px;
}

.blurb, .project-description {
	margin-left:140px;
	border-left: 1px solid rgba(252, 55, 184, 0.2);
}

.blurb p {
	margin-bottom: 0.6em;
	max-width: 860px;
}

.common {
	padding: 52px;
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);

}

.half-container {
	display: flex;
}

.half {
	flex: 1;
}

.half h2 {
	margin-bottom: 90px;
}

.relevant-qualifications h3 {
	font-size: 32px;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 10px;
}

.text-link {
	text-decoration: none;
	border-bottom: 1px solid rgb(241, 191, 164);
	font-style: italic;
	padding-bottom: 1px;
	color: #fff;
}

.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4 {
	color: rgb(241, 191, 164);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
}

.relevant-qualifications p {
	margin-top: 30px;
}

.relevant-qualifications .date {
	font-style: italic;
	line-height: 1.4;
	color: #fff;
	margin-top: 50px;
}

.self-study h3 {
	color: #fff;
	margin-bottom: 10px;
}

.self-study {
	border-left: 1px solid rgba(252, 55, 184, 0.2);
}

.taglist li {
	display: inline-block;
	border: 1px solid rgb(241, 191, 164);
	border-radius: 100px;
	padding: 8px 10px 7px 10px;
	margin-right: 4px;
	margin-bottom: 8px;
}

.taglist {
	margin-bottom: 30px;
}

.primary-list {
	font-weight: 100;
	font-style: italic;
	font-size: 80px;
	color: #fff;
	line-height: 1.2em;
	margin-top: 150px;
	margin-bottom: 10px;
}

.primary-list li {
	display: inline;
}

.primary-list li:after {
	content: "/";
	margin-left: 0.2em;
	color: rgba(252, 55, 184, 0.2);
}

.primary-list li:last-child:after {
	content: "";
}


.hiring-reasons {
	margin-top: 55px;
	
}

.hiring-reasons li {
	font-size: 32px;
	line-height: 1.2;
	font-weight: 300;
	padding: 36px 0 36px 50px;
	border-top: 1px solid rgba(252, 55, 184, 0.1);
	counter-increment: item;
}

.hiring-reasons li:before {
	content: counter(item, decimal-leading-zero);
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
	color: rgb(252, 55, 184);
	width: 0;
	text-align: right;
	display: inline-block;
	transform: translateX(-40px) translateY(-0.6em);
}

.hiring-reasons em {
	color: #fff;
}

.projects .project-description {
	padding: 52px 52px 60px 48px;
	min-height: 400px;
}

.projects .project-description p {
	font-weight: 100;
	font-size: 48px;
	line-height: 1.2;
	color: #fff;
	font-style: italic;
}

.projects .project-description p em {
	color: rgb(241, 191, 164);
	display: inline-block;
}

.inline-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("../images/projecticon-isolation.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transform: translateY(0.1em);
}

.projects .project-description .cta-container {
	display: flex;
	align-items: center;
	margin-top: 48px;
}

.projects .project-description .cta-container .cta {
	border-top: 1px solid rgba(252, 55, 184, 0.2);
	border-right: 1px solid rgba(252, 55, 184, 0.2);
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);
	padding-left: 48px;
	transform: translateX(-48px);
}

.cta p {
	display: flex;
	align-items: center;
}

.projects .project-description .cta-container p {
	font-size: 32px;
}

.projects .project-description .cta-container a {
	text-decoration: none; 
}

.cta-arrow {
	display: inline-block;
	border-left: 1px solid rgba(252, 55, 184, 0.2);
	width: 140px;
	height: 140px;
	margin-left: 48px;
	background-image: url(../images/cta-arrow@2x.png);
	background-size: 62px 36px;
	background-repeat: no-repeat;
	background-position: center	center;
}

.projects .project-description .cta-container .conjunction {
	font-family:'Criteria CF';
	font-weight: 800;
	text-transform: uppercase;
	font-size: 11px;
	letter-spacing: 0.15em;
	color: rgb(241, 191, 164);
}

.projects .project-description .cta-container .text-link {
	margin-left: 48px;
}

.employment-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin-top: 60px;
}

.employment-container h3 {
	color: #fff;
	line-height: 1.1em;
}

.current-employment-container h3 {
	font-size: 32px;
	margin-top: 16px;
	margin-bottom: 32px;
}

.heading-group {
	display: flex;
	flex-direction: column-reverse;
}

.current-employment-container li {
	line-height: 1.2;
	margin-bottom: 16px;
}

.current-employment-container li:before {
	content: "—";
	color: rgb(252, 55, 184);
	transform: translateX(-30px);
	text-align: right;
	display: inline-block;
	width: 0;
}

.past-employment-container {
	padding-left: 52px;
}

.past-employment {
	border-top: 1px solid rgba(252, 55, 184, 0.1);
	padding: 26px;
}

.past-employment:last-child {
	border-bottom: 1px solid rgba(252, 55, 184, 0.1);
}

.past-employment h3 {
	margin-top: 2px;
}

.past-qualifications {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.past-qualifications .title-container {
	padding: 52px;
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);
}

.past-qualifications .qualifications-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	border-left: 1px solid rgba(252, 55, 184, 0.2);
}

.qualification {
	text-align: center;
	width: 50%;
	padding: 70px 24px 80px 24px;
	border-bottom: 1px solid rgba(252, 55, 184, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.qualification h3 {
	font-size: 32px;
	line-height: 1.2;
	color: #fff;
	margin-bottom: 16px;
}

.qualification:nth-child(even) {
	border-left: 1px solid rgba(252, 55, 184, 0.2);
}

.certificate {
	background-image: url(../images/icon-certificate@2x.png);
	background-size: 60px 73px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 73px;
	margin-bottom: 40px;
}

footer {
	height: 140px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

footer .external-links {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr ;
}

.icon-link-container, .references {
	border-left: 1px solid rgba(252, 55, 184, 0.2);
}

.email-link-container, .icon-link-container, .references {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.icon-link-container img {
	width: 40px;
}

.references p {
	color: rgb(252, 55, 184);
	text-transform: uppercase;
	font-family: 'Criteria CF';
	font-weight: 800;
	font-size: 11px;
	letter-spacing: 0.15em;
}

@media print{  
  
	body{    
		background-color: #fff;
		color: #240825;
		font-size: 8pt;
		line-height: 1.3;
	}
	
	header {
		height: 3cm;
	}
	
	.logo img {
		width: 1cm;
	}
	
	.logo {
		padding: 0.9cm;
		flex-grow: 0;
	}
	
	h1 {
		font-size: 12pt;
	}
	
	header nav {
		display: none;
	}

	h2 {
		font-size: 6pt;
	}

	.half h2 {
		margin-bottom: 0.5cm;
	}

	.relevant-qualifications h3 {
		font-size: 16pt;
	}
	
	.intro .vertical-heading {
		left: 2.5cm;
		top: 1.3cm;
		transform: rotate(0deg) translateX(0);
		padding: 0;
	}

	.intro {
		position: static;
	}
	
	.blurb {
		padding: 1cm 1cm 0.8cm 1cm;
		margin-left: 0px;
		border-left: none;
		min-height: 0;
		font-size: 16pt;
	}

	.relevant-qualifications h4, .taglist li, .employment-container h4, .qualification h4 {
		font-size: 5pt;
	}

	.taglist li {
		padding: 2.5pt 4pt 1pt 4pt;
		margin-right: 0.01cm;
		margin-bottom: 0.08cm;
	}

	.taglist {
		margin-bottom: 0.2cm;
	}

	.relevant-qualifications .date {
		margin-top: 0.5cm;
	}
	
	.relevant-qualifications h3, .text-link, .relevant-qualifications .date, .self-study h3, .primary-list, .hiring-reasons em, .projects .project-description p, .employment-container h3, .qualification h3 {
		color: #240825;
	}

	.common {
		padding: 1cm;
	}

	.hiring-reasons {
		margin-top: 0.5cm;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}

	.hiring-reasons li {
		font-size: 10pt;
		padding: 0.5cm 0.5cm 0.5cm 0.6cm;
		width: 46%;
		margin-right: 2%
	}

	.hiring-reasons li:before {
		font-size: 5pt;
		transform: translateX(-0.6cm) translateY(-0.6em);
	}

	.why-hire-me {
		page-break-after: always;
	}
	
}
	


  


/*@media (min-width:1440px) {
	
	main {
		width: 1440px;
		margin-left: auto;
		margin-right: auto;
		border-left: 1px solid rgba(252, 55, 184, 0.2);
		border-right: 1px solid rgba(252, 55, 184, 0.2);
	}
	
}*/
